@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
}

#mainPage {
    background-image: url('page1.jpg');
    background-position: center;
    background-size: cover;
}

#sideBar {
    background-image: url('books.jpg');
    background-position: center;
    background-size: cover;
    opacity: 0.95;
}

#sideBarImg {
    background-color: rgb(236, 227, 202, 0.4);
}

#sideBarSection {
    background-color: rgba(8, 6, 0, 0.4);
    padding: 10px;
}